body {
  font-family: Helvetica;
  font-size: 14px;
  background-color: #fafafa;
  color: #999;
  min-width: 360px;
}

a {
  text-decoration: none;
}

a:visited {
  color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0;
  margin: 1%
}

h2 {
  font-size: 19px;
}

section {
  margin: 0 auto;
  min-width: 850px;
  max-width: 850px;
}

footer {
  margin: 10% auto;
  width: 100%;
  display: inline-block;
}

input {
  width: 90%;
  margin: 2%;
  padding: 3%
}

button {
  width: 92%;
  margin: 4%;
  background: #3897f0;
  color: white;
  line-height: 26px;
  border-radius: 3px;
  border-width: 1px;
  font-weight: 600;
  font-size: 14px;
}

nav {
  text-align: center;
  margin: auto;
}

/* Classes */

.InstaLogo {
  height: auto;
  width: 75%;
}

.BadgeLogo {
  display: inline-block;
}

.PhoneImg {
  display: inline-block;
  width: 50%;
}

.SignUpForm {
  width: 50%;


  text-align: center;
  margin: auto;

  display: inline-block;
  float: right;
}

.BorderBox {
  border: grey solid 1px;
  border-color: #e6e6e6;
  background-color: white;
  padding: 7% 10%;
}

.GetApp {
  font-size: 14px;
  color: black;
}

.NavStyle {
  text-transform: uppercase;
  width: 90%;
}

.CopyText {
  display: inline-block;
}

@media (max-width: 962px){
  .PhoneImg {
    display: none;
  }
  .NavStyle {
    display: block;
  }

  .SignUpForm {
    width:100%;
    display: block;
  }

  main {
    width: 100%;
  }

  .BorderBox{
    margin: 5%;
  }

  section {
    min-width: 360px;
    max-width: 600px;
  }
}

@media (max-width: 600px){
  .BorderBox {
    margin: 0;
  }
}
